# directories
.idea/
node_modules/
cache/view/*
cache/parcel/*
!cache/view/.keep
vendor/*
assets/vendor/*
assets/dist/*
view/pages/*
!view/pages/.keep

# global files
.DS_Store
.env
!resource/.env
yarn.lock
yarn-error.log
package-lock.json
composer.lock

# user files
user/*
!user/.keep
robots.txt
view/head-user.blade.php
