# directories
.idea/*
node_modules/
cache/*
vendor/*
assets/vendor/*
assets/dist/*
view/pages/*
user/*

# global files
.DS_Store
.env
!resource/.env
yarn.lock
yarn-error.log
package-lock.json
composer.lock

# user files
!cache/view/.keep
!view/pages/.keep
!user/.keep
favicon.ico
