@use "mixins";

:root {
  --color-text: #222;
  --color-text-blur: #777;
  --color-text-content: #222;
  --color-bg: #fafbfc;
  --color-key: #b31f37;
  --size-text: 1rem;
  --size-padding-side: 24px;
  --font-base: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  --font-code: 'SFMono-Regular', Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  --font-eng: Helvetica, Arial, sans-serif;
}
.mode-dark {
  @include mixins.dark-mode() {
    --color-text: #fff;
    --color-text-blur: #777;
    --color-text-content: #ddd;
    --color-bg: #222;
    --color-key: #1ccd5c;
  }
}
.mode-responsive {
  @include mixins.responsive(tablet) {
    --size-padding-side: 64px;
  }
}

body {
  margin: 0;
  min-width: 320px;
  -webkit-text-size-adjust: 100%;
  font-size: var(--size-text, 1rem);
  line-height: 1.62;
  text-size-adjust: 100%;
  background: var(--color-bg, #fff);
  color: var(--color-text, #000);
  overflow-x: hidden;
}
body, button, input, textarea, select {
  font-family: var(--font-base);
  text-size-adjust: none;
}
a {
  color: var(--color-key);
}
code, kbd, pre, samp {
  font-family: var(--font-code);
}

::selection {
  background: var(--color-key);
  color: #fff;
}

@import "redgoose-content-body/dist/body.scss";
@import "layout";
@import "index";
@import "article";
@import "etc";
