@import "mixin";

.article {
  margin: 24px 0 0;
  padding: 0 var(--size-padding-side);
  &__header {
    text-align: center;
    h1 {
      margin: 0;
      font-size: 28px;
      font-weight: 800;
      line-height: 1.15;
      letter-spacing: -.75px;
    }
    p {
      margin: 2px 0 0;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-wrap: wrap;
      span {
        display: block;
        font-size: 10px;
        color: #848484;
        &:nth-child(n+2):before {
          content: ', ';
        }
      }
    }
  }
  &__content {
    margin: 24px 0 0;
    color: var(--color-text-content);
  }
  &__like {
    margin: 32px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    button {
      display: block;
      margin: 0 auto;
      padding: 10px 10px;
      border: none;
      background: transparent;
      font-size: 0;
      -webkit-tap-highlight-color: transparent;
      cursor: pointer;
      outline: none;
      width: 90px;
      height: 90px;
      border-radius: 50%;
      transition: box-shadow 100ms ease-out, background-color 250ms ease-out;
      user-select: none;
      span {
        display: block;
      }
      svg {
        display: block;
        margin: 0 auto;
        width: 38px;
        height: 38px;
        transition: transform 300ms cubic-bezier(.24, 1.35, .8, 1.22);
        .step-1 {
          color: #EB6635;
        }
        .step-2 {
          color: #B31E36;
        }
        .step-3 {
          color: #3422FF;
        }
      }
      em {
        display: block;
        margin: -2px 0 0;
        font-style: normal;
        font-family: var(--font-eng);
        font-size: 11px;
        font-weight: 400;
        color: #aaa;
        transition: opacity 150ms ease-out;
      }
      &:disabled {
        cursor: default;
        svg {
          .step-1 {
            color: #ddd;
          }
          .step-2 {
            color: #bbb;
          }
          .step-3 {
            color: #aaa;
          }
        }
        &:focus {
          outline: none;
        }
        &:active {
          svg {
            transform: none;
          }
        }
      }
      &:focus {
        box-shadow: inset 0 0 0 1px var(--color-key);
      }
      &:active {
        background: rgba(#000, .05);
        svg {
          transform: scale(1.4) translateY(6px);
        }
        em {
          opacity: 0;
        }
      }
      &:disabled {
        &:active {
          background: none;
          em {
            opacity: 1;
          }
        }
      }
    }
  }

  .mode-responsive & {
    @include responsive(tablet) {
      margin: 42px 0 0;
      &__wrap {
        max-width: 768px;
        margin: 0 auto;
      }
      &__header {
        margin-left: calc(var(--size-padding-side) * -1);
        margin-right: calc(var(--size-padding-side) * -1);
        h1 {
          font-size: 36px;
        }
        p {
          span {
            font-size: 11px;
          }
        }
      }
      &__content {
        margin-top: 32px;
      }
      &__like {
        margin-top: 40px;
      }
    }
  }
  .mode-dark & {
    @include dark-mode() {
      &__like {
        button {
          svg {
            .step-1 {
              color: #50e58f;
            }
            .step-2 {
              color: #1CCD5C;
            }
            .step-3 {
              color: #045425;
            }
          }
          &:disabled {
            svg {
              .step-1 {
                color: #777;
              }
              .step-2 {
                color: #444;
              }
              .step-3 {
                color: #222;
              }
            }
          }
        }
      }
    }
  }
}
