@use "mixins";

.page {
  --index-body-top-margin: 16px;
  margin: 24px 0 0;
  &__header {
    margin: 0 0 24px;
    padding: 0 var(--size-padding-side);
    text-align: center;
  }
  &__title {
    margin: 0;
    font-size: 24px;
    line-height: 1.42;
    letter-spacing: -.75px;
  }
  &__description {
    margin: 0;
    color: var(--color-text-blur);
    font-size: 11px;
  }
  &__body {
    margin: 0;
    position: relative;
  }

  .mode-responsive & {
    @include mixins.responsive(tablet) {
      --index-body-top-margin: 24px;
      margin-top: 42px;
      padding: 0 var(--size-padding-side);
      &__title {
        font-size: 36px;
        line-height: 1.2;
      }
      &__body {
        margin-left: auto;
        margin-right: auto;
        max-width: 1024px;
      }
    }
  }
}

.error {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  min-height: 240px;
  max-height: 480px;
  &__image {
    margin: 0;
    svg {
      display: block;
      width: 100px;
      height: 100px;
      color: var(--color-key);
      margin: 0 auto;
    }
  }
  &__code {
    margin: 8px 0 0;
    font-size: 42px;
    line-height: 1.15;
    font-family: var(--font-eng);
    text-align: center;
  }
  &__message {
    margin: 0;
    color: var(--color-text-blur);
    font-family: var(--font-eng);
    text-align: center;
    font-size: 16px;
    line-height: 1.15;
  }

  .mode-responsive & {
    min-height: 360px;
    max-height: 580px;
    @include mixins.responsive(tablet) {
      &__image {
        svg {
          width: 120px;
          height: 120px;
        }
      }
      &__code {
        font-size: 56px;
      }
      &__message {
        font-size: 18px;
      }
    }
  }
}
