@import "../../assets/css/libs/valiables";
@import "../../assets/css/libs/mixins";

.body {
	position: relative;
	margin: 0;
	&--loading {
		height: 200px;
		overflow: hidden;
	}
	@include responsive(tablet) {
		margin: 20px 0 0;
		&--loading {
			min-height: 200px;
			overflow: hidden;
		}
	}
}

.articles {
	@include responsive(tablet) {
		display: flex;
		flex-wrap: wrap;
		margin: 0 -10px;
		box-sizing: border-box;
	}
}

.item {
	margin: 0;
	box-sizing: border-box;
	box-shadow: 0 3px 15px rgba(#000, .15);
	&:nth-child(n+2) {
		margin-top: 1px;
		@include retina() {
			margin-top: .5px;
		}
	}
	&__wrap {
		display: flex;
		align-items: center;
		height: 100px;
		background: #fff;
		text-decoration: none;
		transition: background .2s ease-out;
		-webkit-tap-highlight-color: transparent;
		&:active {
			background: #f4f4f4;
		}
	}
	&__image {
		margin: 0;
		width: 100px;
		height: 100%;
		background: #fafafa;
		> img {
			display: block;
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
		> span {
			position: relative;
			display: block;
			width: 100%;
			height: 100%;
			background: #f4f4f4;
			> img {
				$size: 42px;
				position: absolute;
				display: block;
				left: 50%;
				top: 50%;
				margin: -#{$size*.5} 0 0 -#{$size*.5};
				width: $size;
				height: $size;
				opacity: .05;
			}
		}
	}
	&__body {
		flex: 1;
		padding: 0 15px;
		strong {
			display: block;
			display: -webkit-box;
			font-size: .875rem;
			color: $color-text-base;
			font-weight: 600;
			overflow: hidden;
			line-height: 20px;
			max-height: 20px * 2;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			text-overflow: ellipsis;
			word-break: break-all;
		}
		p {
			margin: 2px 0 0;
			font-size: 0;
			display: flex;
			align-items: center;
			span {
				font-size: 11px;
				color: #999;
				display: flex;
				align-items: center;
				&:nth-child(n+2):before {
					content: '/';
					display: block;
					margin: 0 5px;
				}
			}
		}
	}
	@include responsive(tablet) {
		width: 50%;
		box-shadow: 0 0 0;
		padding: 10px;
		&__wrap {
			position: relative;
			box-shadow: 0 3px 20px rgba(#000, .06);
			&:after {
				content: '';
				position: absolute;
				left: 0;
				right: 0;
				top: 0;
				bottom: 0;
				pointer-events: none;
				border: 1px solid $color-key;
				opacity: 0;
				transition: opacity .2s ease-out;
			}
			&:hover {
				&:after {
					opacity: 1;
				}
			}
			&:active {
				background: none;
			}
		}
		&__image {
			> span {
				background: #ccc;
				> img {
					opacity: .1;
				}
			}
		}
		&__body {
			min-width: 0;
			padding: 0 20px;
			strong {}
			p {}
		}
	}
	@include responsive(large) {
		width: 33.3333%;
	}
	@include responsive(max) {
		width: 25%;
	}
}

.empty {
	text-align: center;
	padding: 10vh 0 5vh;
	figure {
		margin: 0;
		svg {
			color: $color-key;
			width: 100px;
			height: 100px;
		}
	}
	h1 {
		margin: 2px 0 0;
		font-size: 14px;
		font-weight: 400;
		font-family: $font-eng;
	}
	@include responsive(tablet) {
		margin-top: 10px;
		padding: 12vh 0;
		background: #f4f4f4;
	}
}

.loading {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba($color-bg, .8);
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
		content: '';
		position: absolute;
		left: 0;
		right: 0;
		bottom: 0;
		height: 100px;
		background: linear-gradient(rgba($color-bg, 0), $color-bg);
	}
}