@import "../../assets/css/libs/valiables";
@import "../../assets/css/libs/mixins";

.article {
  margin: 0;
  box-sizing: border-box;

  &__wrap {
    padding: 0 1rem;
  }
  &__header {
    text-align: center;
    h1 {
      margin: 0;
      font-size: 24px;
      line-height: 1.2;
      letter-spacing: -.5px;
    }
    p {
      margin: 0;
      font-size: 0;
      span {
        display: inline-block;
        font-size: 10px;
        color: #848484;
        &:nth-child(n+2):before {
          content: ', ';
        }
      }
    }
  }
  &__content {
    margin: 20px 0 0;
  }
  &__nav {
    margin: 40px 0 0;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    > * {
      padding: 12px 0 10px;
      width: 60px;
      text-align: center;
      font-size: 0;
      svg {
        box-sizing: border-box;
        display: block;
        margin: 0 auto;
      }
      em {
        display: block;
        margin: 6px 0 0;
        font-style: normal;
        font-size: 10px;
        color: #999;
        line-height: 1;
        font-family: $font-eng;
      }
    }
    .like {
      border: none;
      cursor: pointer;
      border-radius: 0;
      background: none;
      -webkit-tap-highlight-color: transparent;
      user-select: none;
      font-size: 0;
      margin: 0;
      svg {
        width: 28px;
        height: 28px;
        transition: transform .3s cubic-bezier(.24, 1.35, .8, 1.22);
        path {
          fill: $color-key;
          transition: fill .15s ease-out;
        }
      }
      &:active {
        outline: none;
        svg {
          transform: scale(1.4);
        }
      }
      &.on {
        cursor: default;
        svg {
          path {
            fill: #aaa;
          }
        }
        &:focus {
          outline: none;
        }
        &:active {
          svg {
            transform: none;
          }
        }
      }
      @include responsive(desktop) {
        svg {
          width: 32px;
          height: 32px;
        }
      }
    }
    .list {
      text-decoration: none;
      -webkit-tap-highlight-color: transparent;
      svg {
        margin-top: 2px;
        width: 24px;
        height: 24px;
        transition: transform .3s cubic-bezier(.24, 1.35, .8, 1.22);
      }
      em {
        margin-top: 8px;
      }
      &:active {
        svg {
          transform: scale(1.4);
        }
      }
      @include responsive(desktop) {
        svg {
          margin-top: 3px;
          width: 28px;
          height: 28px;
        }
        em {
          margin-top: 7px;
        }
      }
    }
  }

  @include responsive(tablet) {
    margin-top: 0;
    padding: 0 $size-container-padding;
    &__wrap {
      max-width: 768px;
      margin: 0 auto;
    }
    &__header {
      h1 {
        font-size: 32px;
        line-height: 1.2;
        letter-spacing: -1px;
      }
      p {
        margin-top: 2px;
        span {
          font-size: 11px;
        }
      }
    }
    &__content {
      margin-top: 40px;
    }
    &__nav {
      margin-top: 50px;
    }
  }
  @include responsive(desktop) {
    &__header {
      h1 {
        font-size: 36px;
      }
    }
  }
}