$color-link: #005abb;
$color-blur: #999;
$color-headbar: #242729;
$color-headbar-bg: rgba(20, 23, 25, .9);
$color-gnb-bg-hover: #151718;
$color-gnb-line: mix(#fff, $color-gnb-bg-hover, 20%);
$color-like: #fff;
$color-bg-like: #f16e26;

$size-header-height: 54px;
$size-header-mobile-height: 50px;
$size-logo-width: 180px;
$size-logo-mobile-width: 140px;

$size-max-container: 1400px;
$size-is-mobile: 1000px;

$article-external-controller-height: 50px;


// Photo index wrap
@mixin photoIndexWrap($type:'max', $item-width:220px, $cnt:4, $margin:20px, $fix-size:0, $is-mobile:false) {
	$media-cnt: 0;
	$max-width: 0;

	@if ($type == 'max') {
		$media-cnt: $cnt + 1;
	} @else if ($type == 'min') {
		$media-cnt: $cnt;
	}

	@media all and (#{$type}-width: (($item-width * $media-cnt) + $margin) + $fix-size) {
		@if ($is-mobile == true) {
			max-width: none;
			.grid-item {padding: $margin;}
			.grid-sizer, .grid-item {width: 50%;}
		} @else {
			max-width: $item-width * $cnt;
		}
	}
}


*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
a {color: $color-link;}
body, button, input {font-family: "Noto Sans", sans-serif;}
main {position: relative;}
main, .header {
	min-width: 320px;
}


.blind {
	position: absolute; overflow: hidden; visibility: hidden;
	width: 0; height: 0; font-size: 0; line-height: 0;
}